<div id="main-container">
    <div id="main-body">
        <span id="main-header">
            <div class="header">Where will your trail lead?</div>
        </span>
        <div id="link-container">
            <form id="task-form" [formGroup]="form" (ngSubmit)="submit()">
                @if (this.status == true) {
                    <textarea readonly id="input" type="text" #valueInput formControlName="value" (keydown)="handleEnter($event, valueInput)"></textarea>
                } @else {
                    <textarea id="input" type="text" #valueInput formControlName="value" (keydown)="handleEnter($event, valueInput)"></textarea>
                }
                <div id="link-output">
                    @if (this.status == false) {
                        <button type="submit" id="link-submit"> Generate </button>
                    } @else {
                        <span (click)="toggleStatus()" (click)="clearForm()" id="link-submit"> New Link </span>
                    }
                </div>
            </form>
        </div>
    </div>
</div>


