@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --bg-color: #f4f4f4;
    --font-color: #ffffff;
    --font-contrast: #4f4f4f;
    --placeholder-color: #6a6a6a;
    --body-bg: #f8f8f8;
    --menu-bg: #58a1ff;
    --menu-border: #5a86be;
    --border-color: #ffffff;
    --font-family: "Roboto", sans-serif;
    --font-size: 2rem;
    --font-large: 4rem;
    --transition-speed: 0.3s;
    --curve: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    font-weight: lighter;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--font-color);

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    overflow: -moz-scrollbars-none; /* Old versions of Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

a {
  font-size: var(--font-size);
  color: inherit;
  text-decoration: inherit;
}

textPath {
    font-size: var(--font-size);
    color: inherit;
    text-decoration: inherit;
}

svg {
  width: 60vmin;
  overflow: visible;
}

path {
  opacity: var(--show, 0);
  transition: opacity 0.2s;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--bg-color);
    color: var(--font-color);
    list-style-type: none;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #f06ea6;
    background: radial-gradient(circle, rgb(255, 127, 183) 0%, rgb(80, 127, 255) 100%);
}

app-main {
    width: 100%;
    height: 100%;
}

app-profile {
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#nav {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 2.2rem;
    padding: 1rem 3rem 1rem 3rem;
    overflow: visible;
    width: 100vw;
    height: fit-content;
    justify-content: center;
    overflow: hidden;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    overflow: hidden;

        /* disabling text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nav-header a {
    max-width: fit-content;
    max-height: fit-content;
}

#nav-body {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    margin: 0.8rem;
    overflow: hidden;
}

#main {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    padding: 6rem;

            /* disabling text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 100vw;
}

#main-body {
    display: flex;
    flex-direction: column;
    width: 60rem;
    height: fit-content;
    border-radius: var(--curve);
    margin: 0rem;
    padding: 4rem 2rem 4rem 2rem;
}

#main-header {
    display: flex;
    padding-bottom: 6rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font-color);
}

#main-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-links li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eee;
}

#task-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#link-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 12rem;
}

#link-input {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--menu-bg);
}

#input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: var(--font-size);
    border: 3px solid var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 20px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 9%, rgba(255, 255, 255, 0.4) 100%);
    color: var(--font-contrast);
    text-wrap: nowrap;
    margin: 1rem 0.2rem 1rem 2rem;
    height: 6rem;
    width: 60rem;
    border-radius: var(--curve);
    padding: 1.6rem;
    overflow: hidden;
}

#link-output {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: fit-content;
    padding: 0;
    padding-right: 2rem;
}

#link-submit {
    border-radius: var(--curve);
    cursor: pointer;
    border: 3px solid var(--menu-border);
    background-color: var(--menu-bg);
    color: var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 20px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
    background: var(--menu-bg);
    background: #2986ff;
    background: linear-gradient(180deg, rgba(41, 134, 255, 1) 9%, var(--menu-bg) 100%);
    transition-duration: 1s;
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 2rem;
    height: 6rem;
    color: var(--font-color);
    font-size: var(--font-size);
    margin: 2rem;
}

#link-submit:hover {
    scale: 1.02;
}

.header {
    display: flex;
    font-size: 8rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font-color);
    overflow: visible;
    text-wrap: nowrap;
}

#nav-title {
    border: 4px solid var(--border-color);
    min-height: 20rem;
    padding: 0.8rem;
    border-radius: var(--curve);
}

span.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon img{
    height: 100%;
    width: 4rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 40vw;
    font-size: 4rem;
    font-weight: lighter;
}

#login-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-large {
    width: 126px;
    height: 126px;
}

#login-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 2rem;
}

.login-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-small {
    width: 46px;
    height: 46px;
}

.input {
    display: flex;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 2rem;
    background-color: var(--bg-color);
    height: 6rem;
    color: var(--font-color);
    font-size: var(--font-size);
    border: 3px solid var(--border-color);
    border-radius: var(--curve);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 20px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 9%, rgba(255, 255, 255, 0.4) 100%);
    color: var(--font-contrast);
    margin: 2rem;
}

.login-register {
  display: flex;
  padding-left: 20rem;
  width: 26vw;
  justify-content: center;
  align-items: center;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20rem 12rem 20rem 12rem;
    color: var(--font-contrast);
}

.profile-container {
    height: 100%;
    width: 100%;
    margin: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: var(--font-contrast);
}

#profile-options {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    padding: 4rem;
    border: 3px solid var(--border-color);
    border-radius: var(--curve);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 20px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
    color: var(--font-contrast);
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 9%, rgba(255, 255, 255, 0.4) 100%);
}

#profile-links-container {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
}

#profile-links-container li {
    display: flex;
    width: 50%;
}

#profile-links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    padding: 4rem;
    border: 3px solid var(--border-color);
    border-radius: var(--curve);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 20px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
    color: var(--font-contrast);
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 9%, rgba(255, 255, 255, 0.4) 100%);
}

.url {
    color: var(--font-contrast);
}

.short-url {
    color: var(--font-contrast);
}

.profile-row {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem 0 0.8rem 0;
    border-bottom: 3px solid var(--border-color);
    color: var(--font-contrast);
}