<div id="profile">
    <div class="profile-container">
        <div id="profile-links">
            <ul id="profile-links-container">
                <li><div class="url">https://google.com</div> > <div class="short-url">https://tinytrail.com/setgG32FaeffE5B</div></li>
            </ul>
        </div>
    </div>
    <div class="profile-container">
        <div id="profile-options">
            <span class="profile-row">Username: </span>
            <span class="profile-row">Password: </span>
            <span class="profile-row">Links: </span>
            <span class="profile-row">Analytics: </span>
        </div>
    </div>
</div>
