<div id="profile">
    <div class="profile-container">
        <div id="profile-header">Links</div>
        <div id="profile-links">
            <ul id="profile-links-container">
                @for (link of this.links; track link.url) {
                    <li><div class="url">{{ link.url }}</div><div class="link-copy-button" (click)="DeleteLink(link.url)"><img src="icons/delete.svg"></div></li>
                } @empty {
                    <li><div class="url">No Links Found</div></li>
                }
                <li id="li-blank"><div class="url-blank"></div></li>
                <li id="li-blank"><div class="url-blank"></div></li>
                <li id="li-blank"><div class="url-blank"></div></li>
                <li id="li-blank"><div class="url-blank"></div></li>
            </ul>
        </div>
    </div>
    <div class="profile-container">
        <div id="profile-header">User</div>
            <div id="profile-options">
            <div id="profile-list">
                <span class="profile-row"><div class="profile-data-label">Username:</div><div class="profile-data">{{ username }}</div></span>
                <span class="profile-row"><div class="profile-data-label">Password:</div><div class="profile-data">****</div></span>
                <span class="profile-row"><div class="profile-data-label">Total Links:</div><div class="profile-data">{{ total }}</div></span>
            </div>
        </div>
    </div>
</div>
